@use "../../abstract" as *;
.summaryCard {
  box-shadow: $card_shadow;
  display: grid;
  grid-template-columns: 35% 65%;
  gap: 0.3rem;

  padding: clamp(0.8rem, 0.2rem + 1vw, 1rem);
  border-radius: 0.6rem 0.7rem;

  .summaryIconContainer {
    display: flex;
  }
  .summaryIcon {
    background-color: red;
    padding: clamp(0.6rem, 0.4rem + 1vw, 0.9rem);
    display: grid;
    place-content: center;
    border-radius: 50%;

    svg {
      font-size: clamp(0.5rem, 1rem + 1vw, 1.5rem);
    }
  }
  p {
    font-weight: 600;
  }
  .number {
    font-size: clamp(0.8rem, 0.8rem + 1vw, 1.5rem);
  }
  .title {
    font-size: clamp(0.4rem, 0.4rem + 1vw, 0.8rem);
  }
  .summaryDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .salesColor {
    background-color: rgb(239, 228, 207);
    svg {
      color: rgb(255, 166, 0);
    }
  }
  .revenueColor {
    background-color: rgb(149, 245, 240);
  }
  .ordersColor {
    background-color: rgb(120, 231, 93);
    svg {
      color: darkgreen;
    }
  }
  .usersColor {
    background-color: rgb(239, 90, 239);

    svg {
      font-size: clamp(1rem, 1rem + 1vw, 2rem);
    }
  }
}
