@use "../abstract" as *;
.Dashboard {
  gap: 1rem;
  font-size: clamp(0.6rem, 0.6rem + 1vw, 1rem);

  .dashboardWrapper {
    width: 95%;

    margin: 1rem auto;
  }

  .summary {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .summaryCardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    @include mq(tablet) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .salesMainContainer {
    box-shadow: $card_shadow;

    border-radius: $card_border_radius;
    padding: 1rem 0.5rem;
    display: grid;
    grid-template-areas:
      "total pie"
      "card card";
    gap: 0.5rem;

    grid-template-columns: repeat(2, 1fr);
  }
  .salesTotal {
    grid-area: total;
    /*  background-color: red; */
    width: 100%;
    font-size: 1rem;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .number {
      font-size: clamp(2rem, 1rem + 1vw, 3rem);
    }
  }
  .pieContainer {
    grid-area: pie;
    /*  background-color: green; */
    width: 100%;
  }
  .cardWrapper {
    grid-area: card;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(10);

    .number {
      font-size: clamp(0.2rem, 0.4rem + 1vw, 1rem);
    }
    .title {
      font-size: clamp(0.2rem, 0.2rem + 1vw, 0.6rem);
    }
  }
  .sales {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: $card_border_radius;
    padding: 2rem 0.7rem 0.5rem;
    box-shadow: $card_shadow;

    .label {
      font-size: clamp(0.4rem, 0.5rem + 1vw, 0.8rem);
    }
  }

  .salesCalendarContainer {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    gap: 0.5rem;
    button {
      font-size: clamp(0.4rem, 0.4rem + 1vw, 0.7rem);
      padding: 0.4rem 0.6rem;
      background-color: $nursh_dark_gold;
    }
  }

  .salesCalendar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    svg {
      font-size: clamp(0.4rem, 1rem + 1vw, 1rem);
    }
  }

  .analytics {
    display: grid;
    gap: 1rem;
    margin-top: 1rem;
  }
  .analyticsDetails {
    display: grid;
    gap: 2rem;

    @include mq(tablet) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 300px;
    }
  }

  .lineChartContainer {
    border-radius: $card_border_radius;
    box-shadow: $card_shadow;
    padding: 0.3rem;
    display: grid;
    place-items: center;
  }
  .areaChartContainer {
    display: grid;
    place-items: center;
    box-shadow: $card_shadow;
    border-radius: $card_border_radius;
    padding-top: 3rem;
  }

  .orderDetailsWrapper {
    box-shadow: $card_shadow;
    border-radius: $card_border_radius;
  }
  .orderSummaryDetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    padding: 1.5rem 0;
  }
  .totalOrders {
    width: 100%;
    background-color: $nursh_dark_olive;
    color: white;
    padding: 1rem 0;
    font-size: clamp(0.8rem, 0.8rem + 1vw, 1.5rem);
  }
}
