@use "../abstract" as *;

.ChooseOrder {
  display: grid;
  font-size: clamp(0.5rem, 0.5rem + 1vw, 1rem);

  @include mq(tablet) {
    grid-template-rows: 40% 60%;
  }

  section:first-child {
    background-color: $nursh_cream;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;

    @include mq(tablet) {
      background-color: $nursh_light_gold;
      position: relative;
    }
  }

  section:first-child:before,
  section:first-child:after {
    @include mq(tablet) {
      content: "";
      position: absolute;
      background-color: $nursh_light_gold;
      width: 100%;
      height: 60%;
      bottom: -4rem;
      transform-origin: bottom;
    }
  }

  section:first-child::before {
    left: 0;
    transform: skewY(-3deg);
  }
  section:first-child::after {
    right: 0;
    transform: skewY(-3deg);
  }

  h2 {
    text-align: left;
  }

  section:last-child {
    display: none;

    @include mq(tablet) {
      display: block;
      background-color: $nursh_cream;
    }
  }

  .chooseSectionWrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 1rem + 1vw, 1rem);

    @include mq(tablet) {
      gap: 2rem;
    }
  }

  .chooseContainer {
    background-color: white;
    padding: clamp(0.5rem, 1rem + 1vw, 1rem);
    border-radius: $card_border_radius;
    box-shadow: $card_shadow2;
    display: grid;
    gap: 1rem;

    @include mq(tablet) {
      z-index: 5;
    }
    @include mq(laptop) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .chooseDishes,
  .chooseDrinks {
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 0.5rem + 1vw, 1rem);
  }

  .heading {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: $nursh_cream;
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
    p {
      text-align: center;
    }
  }

  .selectContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .selectWrapper {
    display: grid;
    place-items: center;
  }
  select {
    width: 90%;
    border-radius: 0.5rem;
    box-shadow: $card_shadow;
    border: none;
    outline: none;
    text-align: center;
    font-size: inherit;
  }

  option:active,
  option:hover {
    background-color: $nursh_dark_gold;
  }

  .qtySelectorWrapper {
    display: grid;
    place-items: center;
  }
  .qtySelector {
    display: grid;
    grid-template-columns: 30% 40% 30%;

    width: 80%;
    border-radius: 0.5rem;
    box-shadow: $card_shadow;
    overflow: hidden;

    svg {
      font-size: clamp(0.5rem, 0.2rem + 1vw, 1rem);
    }

    p {
      padding: 0.3rem 0;
      text-align: center;
      background-color: $nursh_light_gold;
    }
  }
  .minusQty,
  .plusQty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    border-radius: 0;
    background-color: transparent;
    color: #333;
  }
  .minusQty:disabled {
    opacity: 0.3;
  }

  .price {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      font-size: 1rem;
    }

    p {
      width: 80%;
      display: flex;
      padding: 0.3rem 0;
      align-items: center;
      justify-content: center;
      border-radius: 0.5rem;
      box-shadow: $card_shadow;
    }
  }
}
