@use "../abstract" as *;
.ResetPassword {
  .options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: clamp(0.5rem, 1rem + 1vw, 1rem);
  }
  .option {
    border-bottom: 0.1rem solid $nursh_green;
  }
  .smallLogo {
    padding-bottom: 2rem;
  }
  .mobileLogin {
    font-size: clamp(0.9rem, 1rem + 1vw, 1.5rem);
  }
}
