@use "../abstract" as *;
.adminHeader {
  .cart {
    display: none;
  }
  .tabletNav {
    img {
      border-radius: 50%;
    }
  }

  @include mq(laptop) {
    background-color: white;
    box-shadow: $card_shadow;
  }
}
