@use "../abstract" as *;

footer {
  background-color: $nursh_green;
  padding: 1.5rem 0;
  font-size: clamp(0.3rem, 0.3rem + 1vw, 1.5rem);
  color: white;

  .footerSections {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }

  .socials {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.3rem;

    button {
      padding: clamp(0.3rem, 0.0725rem + 1vw, 0.7rem);

      border-radius: $card_border_radius;
      background-color: $nursh_dark_gold;
      color: white;
      display: flex;

      justify-content: center;
      align-items: center;
      svg {
        font-size: clamp(0.4rem, 0.2rem + 1vw, 0.9rem);
      }
    }
  }

  .formSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
  }
  section:first-child {
    align-items: flex-start;
  }
  section:last-child {
    align-items: flex-end;
  }

  form {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    border-top-right-radius: $card_border_radius;
    border-bottom-right-radius: $card_border_radius;
    input {
      width: 100%;
      background-color: transparent;
      outline: none;
      border: none;
      flex-grow: 1;

      padding-left: 0.4rem;
    }
    input::placeholder {
      font-size: inherit;
    }
    label {
      position: absolute;
      left: -10000px;
    }
    button {
      background-color: $nursh_dark_olive;
      color: white;
      font-size: inherit;
      padding: 0.2rem 0.3rem;
    }
  }
  a {
    text-align: right;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;

    svg {
      font-size: clamp(0.6rem, 1rem + 1vw, 1rem);
    }
  }
}
