@use "../abstract" as *;

header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: $nursh_green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem 0.2rem 0.7rem;
  color: white;
  @include mq(tablet) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  @include mq(laptop) {
    flex-direction: row;
    .hamburgerMenu {
      display: none;
    }
  }

  svg {
    color: white;
    cursor: pointer;
    @include mq(tablet) {
      font-size: clamp(1.5rem, 0.5rem + 1vw, 2.5rem);
    }
  }

  .logoContainer {
    display: flex;

    gap: 1rem;
  }
}
