@use "../abstract" as *;

.sideNav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  display: grid;
  grid-template-columns: 70% 30%;
  font-size: clamp(1rem, 1rem + 1vw, 2rem);

  section:first-child {
    background-color: $nursh_green;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    div {
      padding: 0 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include mq(tablet) {
        svg {
          margin-right: 0.7rem;
        }
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
  }
  .categoryList {
    font-size: clamp(0.8rem, 0.6rem + 1vw, 1.3rem);
    padding-left: 2.5rem;
  }
  li {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.7rem 0.7rem;
  }
  svg {
    font-size: clamp(1.2rem, 1rem + 1vw, 1.6rem);
  }

  section:last-child {
    background-color: black;
    opacity: 0.5;
  }
  .cart {
    @include mq(tablet) {
      display: none;
    }
  }
  .profile {
    @include mq(tablet) {
      display: none;
    }
  }
}

/* TABLET NAV */
.tabletNav {
  display: flex;
  gap: clamp(0.5rem, 1rem + 1vw, 1.2rem);
  font-size: clamp(1.5rem, 0.5rem + 1vw, 3rem);
  svg {
    color: $nursh_dark_olive;
    font-size: inherit;
  }

  button {
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-content: center;
    svg {
      font-size: clamp(1rem, 1rem + 1vw, 2rem);
    }

    @include mq(tablet) {
      width: 3rem;
      height: 3rem;
    }
  }
  .cart {
    position: relative;
    height: 100%;
    display: grid;
    place-content: center;
    svg {
      color: white;
    }
  }

  .count {
    position: absolute;
    top: -0.03rem;
    right: -0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: $nursh_light_gold;
  }
}

/* DESKTOP NAV */
.desktopNav {
  display: none;

  @include mq(laptop) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
  }
  li {
    padding: 0.5rem 1.2rem;
  }

  .category {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;

    svg {
      margin-top: 0.2rem;
    }
  }

  .categoryList {
    position: absolute;
    top: 3rem;
    font-size: clamp(0.5rem, 0.1rem + 1vw, 0.8rem);
    padding: min(3vh, 0.4rem) 0;
    width: 8rem;
    background-color: white;
    border-radius: $card_border_radius;
    color: black;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-items: center;
    }
  }
}
