@use "../abstract" as *;

.cartOrderCard {
  display: grid;
  width: 100%;
  max-width: rem(400);
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  font-size: clamp(0.5rem, 0.5rem + 1vw, 0.8rem);
  height: auto;
  overflow: hidden;
  background-color: white;
  border-radius: $card_border_radius;

  box-shadow: $card_shadow;

  h3,
  .meal,
  .price {
    font-weight: 500;
  }
  figure {
    width: 100%;
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .orderDetails {
    height: 100%;
    padding: 1rem 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.3rem;
  }
  .price {
    display: flex;
    align-items: center;
    font-size: clamp(0.8rem, 0.7rem + 1vw, 1.2rem);
    font-weight: 600;
  }
  .quantitySection {
    display: flex;
    background-color: $nursh_light_gold;

    justify-content: space-between;
    border-radius: 0.2rem;
    width: 70%;
    margin: 0.5rem auto;

    padding: 0.3rem;

    svg {
      cursor: pointer;
    }
  }
  .react-star-rate {
    font-size: clamp(1.3rem, 1rem + 1vw, 2rem);

    li {
      margin-right: 0.1rem;
    }
  }
  .remove {
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    background-color: transparent;

    color: rgb(214, 51, 51);
    svg {
      font-size: 1rem;
      margin-top: -0.1rem;
    }
  }
}
