@use "../abstract/" as *;
.laptopContactPage {
  display: none;

  @include mq(laptop) {
    display: flex;
    flex-direction: column;
  }
  height: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  h2 {
    font-size: clamp(1rem, 1rem + 1vw, 2rem);
  }

  .container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $nursh_light_gold;
    flex: 1;
    position: relative;
  }
  .container1::before {
    content: "";
    background-color: $nursh_dark_olive;
    height: 1.5rem;
    width: 120%;
    transform: rotate(-3deg);
    transform-origin: bottom right;
    position: absolute;
    bottom: 0;
  }
  .container1::after {
    content: "";
    background-color: $nursh_light_gold;
    height: 5rem;
    width: 120%;
    transform: rotate(-3deg);
    position: absolute;
    bottom: -2rem;
    z-index: 1;
  }

  .gridContainer {
    width: 80%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    position: relative;
  }

  .grid1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    font-size: clamp(1rem, 1rem + 1vw, 1.5rem);
  }

  .grid2 {
    margin-bottom: -7rem;
    z-index: 2;
  }
  .phoneContainer {
    background-color: white;
    width: 16rem;
    border: 0.5rem solid $nursh_dark_gold;
    border-radius: 2rem;
    height: 100%;
    margin-left: auto;
    margin-right: 5rem;
    text-align: center;
    padding-top: 1rem;
  }

  figure {
    width: 20rem;
    margin-left: -3rem;
    margin-bottom: -5rem;
  }
  img {
    width: 100%;
  }

  .container2 {
    background-color: $nursh_cream;
    flex: 2;
  }

  .messageBtn {
    background-color: $nursh_dark_olive;
    color: white;
    width: 80%;
    font-size: inherit;
    padding: 1rem;
  }

  .socials {
    display: flex;
    gap: 1rem;
    margin-bottom: 3rem;
  }

  .social {
    background-color: $nursh_dark_gold;
    color: white;
    height: rem(40);
    width: rem(40);
    display: grid;
    place-items: center;

    svg {
      font-size: 1.2rem;
    }
  }
}
