@use "../abstract" as *;
.reviewSlideContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  .swiper-button-disabled {
    visibility: hidden;
  }
}
.reviewSlide {
  width: 100%;

  .reviewCardContainer {
    height: 100%;
    padding: 1rem;
  }

  .reviewCard {
    width: 100%;
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-rows: 35% 65%;
    overflow: hidden;
    font-size: clamp(0.4rem, 0.3rem + 1vw, 0.9rem);

    border-radius: $card_border_radius;
    box-shadow: $card_shadow;

    text-align: center;

    figure {
      position: relative;
      background-color: $nursh_green;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        margin-top: 4rem;
        border-radius: 0.8rem;
        width: 5rem;
        height: 5rem;
        object-fit: cover;
      }
    }

    div {
      padding: 1rem 0;
      font-size: clamp(0.3rem, 0.4rem + 1vw, 1rem);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      gap: 0.7rem;
      width: 70%;
      margin: auto;
      padding-top: 1.5rem;

      .name {
        font-weight: 700;
      }
    }
  }
}

.sliderBtnRight {
  display: grid;
  place-content: center;
  width: 100%;
  height: rem(277);

  svg {
    font-size: clamp(1.5rem, 1rem + 1vw, 4rem);
    cursor: pointer;
  }
}
.sliderBtnLeft {
  width: 100%;
  height: rem(277);
  display: grid;
  place-content: center;
  svg {
    font-size: clamp(1.5rem, 1rem + 1vw, 4rem);
    cursor: pointer;
  }
}
