@use "../abstract" as *;
.tMealCardContainer {
  width: 100%;

  background-color: white;
  .tMealCard {
    border-radius: $card_border_radius;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    font-size: 0.6rem;
    box-shadow: $card_shadow;
    gap: 0.3rem;
    display: grid;
    grid-template-areas:
      "img img img"
      "mt . rt"
      "pri . ord";
    img {
      width: 100%;
      height: 8rem;
      object-fit: cover;
      border-radius: 1rem;
      grid-area: img;
    }
    .mealTitle {
      grid-area: mt;
      display: flex;
      flex-direction: column;

      .name {
        font-weight: 600;
      }
    }

    .rating {
      grid-area: rt;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      .star {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        justify-content: flex-start;
        font-size: 0.8rem;
        li {
          margin-right: 0;
        }
      }
      .rate {
        font-size: 0.3rem;

        text-align: right;
      }
    }

    .price {
      grid-area: pri;
      display: flex;
      align-items: center;
      font-weight: 600;
      svg {
        font-size: 1rem;
      }
    }
    button {
      grid-area: ord;
      font-size: clamp(0.3rem, 0.2rem + 1vw, 0.7rem);
      background-color: $nursh_dark_olive;
      color: $nursh_light_gold;
    }
  }
}
