$nursh_green: #084104;
$nursh_cream: #f9fbe1;
$nursh_light_gold: #edda8b;
$nursh_dark_gold: #c4a838;
$nursh_dark_olive: #6a5c05;
$card_shadow: 0.1rem 0.2rem 0.6rem rgba(0, 0, 0, 0.363);
$card_shadow2: 0 0.2rem 0.3rem $nursh_light_gold;
$card_border_radius: 1rem;
